.profile {
  max-width: 410px;
  margin: 70px auto;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__name {
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.profile__form {
  padding-top: 123px;
}

.profile__label {
  font-weight: 400;
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  min-height: 32px;
}

.profile__label-name {
  align-items: flex-start;
  border-bottom: solid 1px #424242;
}

.profile__label-email {
  align-items: flex-end;
}

.profile__input {
  text-align: end;
  width: 80%;
  border: none;
  padding: 0;
  color: #fff;
  background-color: transparent;
  outline: none;
  transition: all 200ms linear;
}

.profile__error {
  margin: 10px 0 10px;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  color: #EE3465;
  text-align: right;
}


.profile__action {
  padding-top: 220px;
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile__btn-edit {
  font-weight: 400;
  font-size: 13px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
}

.profile__btn-edit:hover {
  opacity: 0.8;
}

.profile__btn-edit:disabled {
  opacity: 0.8;
}

.profile__btn-exit {
  font-weight: 400;
  font-size: 13px;
  background-color: transparent;
  color: #EE3465;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.profile__btn-exit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 236px auto;
  }

  .profile__form {
    padding: 96px 0 0;
  }

  .profile__action {
    padding: 210px 0 0;
  }
}

@media screen and (max-width: 540px) {
  .profile {
    align-items: flex-start;
    margin-top: 70px;
    max-width: 260px;
  }

  .profile__form {
    padding-top: 82px;
  }

  .profile__action {
    max-width: 260px;
    padding: 379px 0 0;
  }

  .profile__label-name {
    height: 29px;
  }

  .profile__btn-edit,
  .profile__btn-exit {
    font-size: 12px;
  }
}