.movies-card {
    background-color: inherit;
    position: relative;
  }
  
  .movies-card__image {
    display: block;
    object-fit: cover;
    object-position: center;
    margin: 0 0 14px 0;
    width: 100%;
    height: 201px;
    border-radius: 6px;
    aspect-ratio: 1/1;
  }
  
  .movies-card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
  }
  
  .movies-card__title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    max-width: 250px;
    font-weight: 500;
    font-size: 13px;
  }
  
  .movies-card__time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 18px;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    border-radius: 3px;
    background-color: #2F2F2F;
    color: #8B8B8B
  }
  
  .movies-card__btn-save {
    display: none;
  }
  
  .movies-card:hover 
  .movies-card__btn-save {
    display: flex;
    background-color: initial;
    border: none;
    position: absolute;
    padding: 0;
    top: 14px;
    right: 14px;
    cursor: pointer;
  }
  
  .movies-card__btn-saved {
    border: none;
    background-color: initial;
    position: absolute;
    padding: 0;
    width: 21px;
    height: 21px;
    top: 14px;
    right: 14px;
    cursor: pointer;
  }
  
  .movies-card__btn-delete {
    display: none;
  }
  
  .movies-card:hover 
  .movies-card__btn-delete {
    display: flex;
    background-color: initial;
    border: none;
    position: absolute;
    padding: 0;
    top: 14px;
    right: 14px;
    cursor: pointer;
  }
  
  .movies-card__btn-delete:hover {
    opacity: 0.8;
  }
  
  .movies-card__btn-save:hover {
    opacity: 0.8;
  }
  
  .movies-card__btn-saved:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width: 768px) {
    .movies-card__image {
      margin: 0 0 25px 0;
      height: 190px;
    }
  
    .movies-card__info {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 540px) {
    .movies-card__image {
      margin: 0 0 16px 0;
      height: 168px;
    }
  }