.register {
  width: 396px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  margin: 69px auto;
}

.register__logo:hover {
  opacity: 0.8;
}

.register__container {
  width: 100%;
}

.register__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
}

.register__subtitle {
  margin: 0;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #8B8B8B;
  text-align: center;
}

.register__btn {
  padding: 0;
  margin-top: 70px;
  border-radius: 3px;
  width: 100%;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #4285F4;
  cursor: pointer;
}

.register__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register__btn:hover {
  opacity: 0.8;
}

.register__btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.register__link {
  text-decoration: none;
}

.register__link:hover {
  opacity: 0.8;
}

.register__signin {
  color: #4285F4;
}

.register__error {
  margin: 10px 0 0;
  padding: 0;
  font-size: 14px;
  color: #EE3465;
}

@media screen and (max-width: 768px) {
  .register {
    margin: 231px auto;
  }
}

@media screen and (max-width: 540px) {
  .register {
    max-width: 260px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 56px;
  }

  .register__form {
    width: 100%;
  }

  .register__title {
    margin: 47px 0 80px;
    text-align: center;
  }

  .register__btn {
    font-size: 12px;
    margin-top: 161px;
  }

  .register__subtitle {
    font-size: 12px;
  }
}