.login {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 70px auto;
}

.login__logo:hover {
  opacity: 0.8;
}

.login__container {
  width: 100%;
}

.login__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
}

.login__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login__subtitle {
  margin: 16px 0 0;
  font-weight: 400;
  font-size: 14px;
  color: #8B8B8B;
  text-align: center;
}

.login__btn {
  padding: 0;
  margin: 160px 0 0;
  border-radius: 3px;
  width: 100%;
  height: 45px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  background-color: #4285F4;
  cursor: pointer;
}

.login__btn:hover {
  opacity: 0.8;
}

.login__btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.login__link {
  text-decoration: none;
}

.login__signin {
  color: #4285F4;
}

.login__signin:hover {
  opacity: 0.8;
}

.login__error {
  margin: 10px 0 0;
  padding: 0;
  font-size: 14px;
  color: #EE3465;
}

@media screen and (max-width: 768px) {
  .login {
    margin: 232px auto;
  }
}

@media screen and (max-width: 540px) {
  .login {
    align-items: center;
    justify-content: flex-start;
    margin: 56px 0 0;
    max-width: 260px;
  }

  .login__form {
    width: 100%;
  }

  .login__title {
    text-align: center;
    margin: 47px 0 80px;
  }

  .login__btn {
    font-size: 12px;
    margin-top: 248px;
  }

  .login__subtitle {
    font-size: 12px;
  }
}